*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}




.heading{
    color: rgb(45, 26, 224);
}

.heading-size{
    font-size: 72px;
}

.text-purple{
    color: rgb(128, 0, 128);
}